
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import '_vars';


body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 $margin-small;
    background: $color-white;
}

// div {
//     margin: 0!important;
//     padding: 0!important;
// }

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $margin-small 0;
    padding: 0;
    text-transform: capitalize;
}

h1 {
    font-weight: 900;
    font-size: 1.8rem;
    color : $color-primary;
}
h2 {
    font-weight: 800;
    font-size: 1.5rem;
    color : $color-secondary;
}
h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color : $color-tertiary;
}
h4 {
    font-weight: 600;
    font-size: 1.1rem;
    color : $color-quaternary;
}
h5 {
    font-weight: 500;
    font-size: 1rem;
    color : $color-quinary;
}
h6 {
    font-weight: 400;
    font-size: 0.8rem;
    color : $color-light;
}
p {
    font-weight: 300;
    font-size: 0.8rem;
    color : $color-black;
    margin: 0;
    padding: 0;

}
small {
    font-weight: 200;
    font-size: 0.6rem;
    color : $color-dark;
}
label {
    font-weight: 100;
    font-size: 0.7rem;
    color : $color-dark;
    display: block;
    margin: 5px;
}



// sauf les liens du header
a:not(.navbar a){
    text-decoration: none;
    color: $color-info;
    margin-right: $margin-small;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $color-secondary;
    }
    // active
    &:active {
        color: $color-tertiary;
    }
    // click
    &:focus {
        color: $color-quaternary;
    }
}
blockquote {
    display: flex;
    align-items: center;
    padding: 25px;
    background: #d6d6d6;
    border-radius: 8px;
    box-shadow: 1px 3px 5px 0 #999;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 400px;
  }

button {
    // Styles du bouton
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: $color-grey-light-2;
    background: $color-primary;
    border: none;
    border-radius: $border-radius;
    padding: $padding-small $padding;
    cursor: pointer;
    transition: $transition;
    width: fit-content;
    // Hover
    &:hover {
        background: $color-secondary;
    }

    // Active
    &:active {
        background: $color-tertiary;
    }

    // Focus
    &:focus {
        background: $color-quaternary;
    }
}

.ql-editor {
    resize: vertical;
    overflow-y: scroll;
    min-height: 200px;
    background-color: white;
    resize: vertical;
    padding: 12px 15px!important;
    box-sizing: border-box!important;
    }

.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    padding: 30px
    }

    
    // .ql-container {
    // height: 60% !important;
    // }

.view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date {
    text-transform: capitalize;
    padding: 5px 0;
}

.ressource_links {
    display: flex;
    padding: 5px 0;
}
