
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '_vars';

html,body{
    margin:0;
    }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }


// body {
//     font-size: 16px;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     font-family: 'Noto Sans JP', sans-serif;
//     margin: 0 $margin-small;
//     background: $color-white;
// }

// div {
//     margin: 0!important;
//     padding: 0!important;
// }

.ql-editor {
    overflow-y: scroll;
    min-height: 400px;
    background-color: white;
    resize: vertical;
    padding: 12px 15px!important;
    box-sizing: border-box!important;
    }
.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    padding: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $margin-small 0;
    padding: 0;
    text-transform: capitalize;
}

h1 {
    font-weight: 900;
    font-size: 1.8rem;
    color : $color-primary;
}
h2 {
    font-weight: 800;
    font-size: 1.5rem;
    color : $color-secondary;
}
h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color : $color-tertiary;
}
h4 {
    font-weight: 600;
    font-size: 1.1rem;
    color : $color-quaternary;
}
h5 {
    font-weight: 500;
    font-size: 1rem;
    color : $color-quinary;
}
h6 {
    font-weight: 400;
    font-size: 0.8rem;
    color : $color-light;
}
p {
    font-weight: 300;
    font-size: 0.8rem;
    color : $color-black;
}
small {
    font-weight: 200;
    font-size: 0.6rem;
    color : $color-dark;
}
label {
    font-weight: 100;
    font-size: 0.7rem;
    color : $color-dark;
    display: block;
    margin: 5px;
}
button {
    padding: 15px 20px;
    margin: 0px 5px 0 0;
    border: none;
    background-color: #497683;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #3f5a6f;
    cursor: pointer;
}
button a {
    text-decoration: none;
    color: white!important;
}

a {
    text-decoration: none;
    color: $color-primary;
}

// sauf les liens du header
blockquote {
    display: flex;
    align-items: center;
    padding: 25px;
    background: #d6d6d6;
    border-radius: 8px;
    box-shadow: 1px 3px 5px 0 #999;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 400px;
  }

.view_container {
    width: 100%;
    min-height: calc(100vh - 116px); // 100vh moins le header et le footer moins les marges du body
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date {
    text-transform: capitalize;
    padding: 5px 0;
}

.ressource_links {
    display: flex;
    padding: 5px 0;
}

